<%
if (typeof courses === 'undefined') {
    courses = [];
}

if (typeof upcomingAssignments === 'undefined') {
    upcomingAssignments = [];
}

if (typeof pastAssignments === 'undefined') {
    pastAssignments = [];
}
%>
<div class="content">
    <% if (upcomingAssignments[0]) { %>
    <div class="notification is-warning is-light">
        <p class="title has-text-centered">
            <%= upcomingAssignments[0].assignmentTitle %> is due <%= moment(upcomingAssignments[0].dueDate).fromNow() %> for <%= upcomingAssignments[0].courseName %>.
        </p>
    </div>
    <% } %>
</div>

<div class="content">
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title">Upcoming Assignments</h2>
        </div>
        <div class="column is-one-third has-text-right">
            <a href="/assignment/create" class="button">Add Assignments</a>
        </div>
    </div>
    <table class="table is-bordered">
        <thead>
            <th>Assignment</th>
            <th>Class</th>
            <th>Due</th>
            <th>Daily Impact</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < upcomingAssignments.length; i += 1) { %>
            <tr>
                <td><%= upcomingAssignments[i].assignmentTitle %></td>
                <td><%= upcomingAssignments[i].courseName %></td>
                <td><%= moment(upcomingAssignments[i].dueDate).fromNow() %></td>
                <td><%= upcomingAssignments[i].dailyImpact %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="content">
    <h2 class="title">Past Assignments</h2>
    <table class="table is-bordered">
        <thead>
        <th>Assignment</th>
        <th>Class</th>
        <th>Due</th>
        </thead>
        <tbody>
        <% for (let i = 0; i < pastAssignments.length; i += 1) { %>
            <tr>
                <td><%= pastAssignments[i].assignmentTitle %></td>
                <td><%= pastAssignments[i].courseName %></td>
                <td><%= moment(pastAssignments[i].dueDate).fromNow() %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="content">
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title">Your Courses</h2>
        </div>
        <div class="column is-one-third has-text-right">
            <a href="/course/create" class="button">Add Course</a>
        </div>
    </div>
    <table class="table is-bordered">
        <thead>
            <th>Course</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < courses.length; i++) { %>
            <tr>
                <td><%= courses[i].courseName %></td>
                <td>
                    <a href="/course/edit/<%= courses[i].id %>">Edit</a>&nbsp;
                    <a href="/course/delete/<%= courses[i].id %>">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
