<%
if (typeof courses === 'undefined') {
    courses = [];
}

if (typeof assignments === 'undefined') {
    assignments = [];
}
%>
<div class="content">
    <div class="notification is-warning is-light">
        <p class="title has-text-centered">
            <%= assignments[0].assignmentTitle %> is due <%= moment(assignments[0].dueDate).fromNow() %> for <%= assignments[0].courseName %>.
        </p>
    </div>
</div>

<div class="content">
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title">Upcoming Assignments</h2>
            <p>Assignments are ordered by priority. The top assignment is the most urgent.</p>
        </div>
        <div class="column is-one-third has-text-right">
            <a href="/assignment/create" class="button">Add Assignments</a>
        </div>
    </div>
    <table class="table is-bordered">
        <thead>
            <th>Assignment</th>
            <th>Class</th>
            <th>Due</th>
            <th>Daily Impact</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < assignments.length; i += 1) { %>
            <tr>
                <td><%= assignments[i].assignmentTitle %></td>
                <td><%= assignments[i].courseName %></td>
                <td><%= moment(assignments[i].dueDate).fromNow() %></td>
                <td><%= assignments[i].dailyImpact %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="content">
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title">Your Courses</h2>
        </div>
        <div class="column is-one-third has-text-right">
            <a href="/course/create" class="button">Add Course</a>
        </div>
    </div>
    <table class="table is-bordered">
        <thead>
            <th>Course</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < courses.length; i++) { %>
            <tr>
                <td><%= courses[i].courseName %></td>
                <td>
                    <a href="/course/edit/<%= courses[i].id %>">Edit</a>&nbsp;
                    <a href="/course/delete/<%= courses[i].id %>">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>