<%
if (typeof errors === 'undefined') {
    errors = [];
}

if (typeof formData === 'undefined') {
    formData = {
        courseName: '',
    };
}

if (typeof formData.gradeComponents === 'undefined') {
    formData.gradeComponents = [];
}
%>

<h1 class="title">Edit Course</h1>
<div class="content">
    <% for (let i = 0; i < errors.length; i++) { %>
    <div class="notification is-danger is-light">
        <%= errors[i] %>
    </div>
    <% } %>
    <form method="POST">
        <div class="field">
            <div class="control">
                <input type="text" class="input" name="courseName" placeholder="Course Name" value="<%= formData.courseName %>" />
            </div>
        </div>
        <h2 class="title">Grade Components</h2>
        <div class="field">
            <table class="table is-bordered" id="component-table">
                <thead>
                    <th>Category</th>
                    <th>Weight (%)</th>
                    <th>Actions</th>
                </thead>
                <% for (let i = 0; i < formData.gradeComponents.length; i++) {
                    let component = formData.gradeComponents[i];
                %>
                <tbody class="grade-component-row">
                    <td>
                        <input type="text" id="componentName" class="input" name="gradeComponents[<%= i %>][componentName]" placeholder='"Homework"' value="<%= component.componentName %>" disabled />
                    </td>
                    <td>
                        <input type="number" id="gradePercentage" class="input" name="gradeComponents[<%= i %>][gradePercentage]" placeholder='"40"' value="<%= component.gradePercentage %>" disabled />
                    </td>
                    <td>
                        <a href="#" class="button">Edit</a>
                    </td>
                </tbody>
                <% } %>
            </table>
        </div>
        <button type="submit" class="button is-primary">
            Save
        </button>
        <a href="/dashboard" class="button is-primary is-light">
            Cancel
        </a>
    </form>
</div>